table {
  border-collapse: collapse;
}
table,th,td {
  border: 1px solid #ccc;
}
th,td {
  text-align: center;
  width: 3em;
  height: 32px;
}
th {
  background: #fff0d9;
}
.even {
  background: #9cf7c7;
}
